---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
let title = "Home";
let description = "Welcome to the NJIT Student Senate website!";
import Image from "astro/components/Image.astro";
import CustomCard from "../../src/components/CustomCard.astro";
import Carousel from "../../src/components/Carousel.astro";
import { Tabs, TabItem } from "@astrojs/starlight/components";
import { parse } from "csv/sync";
import fs from "fs";
// //-------------------
// //fetch roles from local roles.json for the tabs
let roles = (await fs.promises.readFile("./public/roles.json")).toString();
roles = JSON.parse(roles);
// //-------------------
// // //fetch clubs from campuslabs (so live data)
const response = await fetch(
  "https://njit.campuslabs.com/engage/api/discovery/search/organizations?orderBy[0]=UpperName asc&top=150&filter=(BranchId%20eq%20296346)"
);
let clubs: any = (await response.json()) as any;
clubs = clubs.value.map((e) => {
  return {
    website: "https://njit.campuslabs.com/engage/organization/" + e.WebsiteKey,
    name: e.Name,
    ShortName: e.ShortName,
    Summary: e.Summary,
    Description: e.Description,
    pfp: "https://se-images.campuslabs.com/clink/images/" + e.ProfilePicture,
  };
});
// //-----------------
//fetch announcments from google sheets
let announcment_data = (await fetch(
  "https://docs.google.com/spreadsheets/d/11pXrj7FqBO5hMXyJgBB8XwrXfiBXs-nMxPtudWqcjnw/export?format=csv"
)) as any;
console.log(
  "fetching https://docs.google.com/spreadsheets/d/11pXrj7FqBO5hMXyJgBB8XwrXfiBXs-nMxPtudWqcjnw/export?format=csv"
);

announcment_data = await announcment_data.text(); //get the data in text format
announcment_data = parse(announcment_data, { from_line: 2 }); //parse the csv data and skip the first line
announcment_data = announcment_data.map((record: string[]) => {
  let [title, desc, date, content, author, link, variant] = record;
  return { title, desc, date, content, author, link, variant };
});
---

<StarlightPage
  frontmatter={{
    title: title,
    description: description,
    tableOfContents: false,
    template: "splash",
    head: [
      {
        tag: "style",
        content: `
      h1#_top{
      display: none;
      }
      .content-panel {
      border-top:unset!important;
      }
      `,
      },
    ],
  }}
>
  <h1 class="title not-content">Welcome to the NJIT Student Senate Website!</h1>
  <br />
  <p class="ribbon text-xs lg:text-xl w-8/12 !mx-auto font-bold">
    Of the Students, By the Students, For the Students
  </p>
  <br />
  <Carousel />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
    {
      announcment_data.map((card: any) => (
        <CustomCard
          title={card.title}
          description={card.desc}
          author={card.author}
          date={card.date}
          link={card.link}
          varient={card.variant.replace("\r", "")}
        >
          {card.content}
        </CustomCard>
      ))
    }
  </div>
  <h2 class="ribbon text-xs lg:text-xl w-8/12 !mx-auto font-bold">
    What We Do?
  </h2>
  <br />

  {
    Object.values(roles).map((role) => (
      <Tabs>
        {Object.values(role).map((tab: any) => (
          <TabItem label={tab["label"]}>
            <h3 class="text-center">{tab["content"]["title"]}</h3>
            {tab["content"]["description"]}
          </TabItem>
        ))}
      </Tabs>
    ))
  }

  <h2 class="ribbon text-xs lg:text-xl w-8/12 !mx-auto font-bold">Clubs</h2>
  <div
    class="not-content grid grid-cols-[repeat(auto-fit,minmax(35px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(70px,1fr))] gap-1 p-1 rounded-full"
  >
    {
      clubs.map((club: any) => (
        <a
          href={club.website}
          target="_blank"
          rel="noopener noreferrer"
          class="col-span-1 flex align-center club justify-center bg-[#fff8f0] rounded-full dark:bg-[#242525]"
          title={club.name}
        >
          <Image
            src={
              club.pfp === "https://se-images.campuslabs.com/clink/images/null"
                ? "https://api.dicebear.com/9.x/initials/svg?seed=" +
                  club.name.charAt(0)
                : club.pfp
            }
            alt={club.name}
            class="rounded-full h-10 md:h-[unset] md:max-h-20 p-1 hover:scale-125 transition-transform duration-300 ease-in-out object-cover aspect-square"
            width="75"
            height="75"
            title={club.name}
          />
        </a>
      ))
    }
  </div>
  <script>
    //make random clubs spin
    const clubs = document.querySelectorAll(".club");
    setInterval(() => {
      const randomClub = clubs[Math.floor(Math.random() * clubs.length)];
      randomClub.classList.add("animate-spin");
      setTimeout(() => {
        randomClub.classList.remove("animate-spin");
      }, 2000); //spin for 3 seconds
    }, 2000); //every 3 seconds
  </script>
  <br />
  <br />
  <h2 class="ribbon text-xs lg:text-xl w-8/12 !mx-auto font-bold">
    Upcoming Events
  </h2>
  <div class="not-content">
    <iframe
      class="not-content"
      src="https://njit.campuslabs.com/engage/opportunityboard"
      title="Upcoming Events"></iframe>
  </div>

  <style>
    iframe {
      width: 100%;
      border: none;
      height: 20em;
    }

    .title {
      font-weight: 300 !important;
      text-align: center;
      position: relative;
      display: block;
      padding: 30px 0;
    }
    .title::before {
      content: "";
      /* make a line above */
      position: absolute;
      top: -5px;
      left: 33%;
      width: 66%;
      height: 5px;
      background-color: var(--color-primary);
      transform: translateX(-50%);
    }
    .title::after {
      content: "";
      /* make a line below */
      position: absolute;
      bottom: -5px;
      left: 66%;
      width: 66%;
      height: 5px;
      background-color: var(--color-secondary);
      transform: translateX(-50%);
    }

    .ribbon {
      position: relative;
      margin: 0 100px 20px;
      padding: 10px 40px;
      text-align: center;
      background-color: var(--color-secondary);
      color: #fff !important;
      text-transform: uppercase;
    }

    .ribbon::before,
    .ribbon::after {
      content: "";
      width: 80px;
      height: 100%;
      background-color: var(--color-secondary);

      /* position ribbon ends behind and slightly lower */
      position: absolute;
      z-index: -1;
      top: 20px;

      /* clip ribbon end shape */
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

      /* draw and position the folded ribbon bit */
      background-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--color-primary) 50%
      );
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: bottom right;
    }

    .ribbon::before {
      left: -60px;
    }

    .ribbon::after {
      right: -60px;
      transform: scaleX(-1); /* flip horizontally */
    }
  </style>
</StarlightPage>
