---
const { title, description, author, date, link, varient } = Astro.props;

let bgcolor = "";
let headcolor = "";
switch (varient) {
  case "red":
    bgcolor = "bg-[#FFDCE1]";
    headcolor = "bg-[#BC2C43]";
    break;
  case "blue":
    bgcolor = "bg-[#D1E0FF]";
    headcolor = "bg-[#233251]";
    break;
  case "green":
    bgcolor = "bg-[#DEFFDB]";
    headcolor = "bg-[#2E854B]";
    break;
  case "yellow":
    bgcolor = "bg-[#FAECC8]";
    headcolor = "bg-[#E3AA0E]";
    break;
  case "purple":
    bgcolor = "bg-[#F0DBFF]";
    headcolor = "bg-[#3E1C8D]";
    break;
  default:
    bgcolor = "bg-[#D1E0FF]";
    headcolor = "bg-[#233251]";
    break;
}
---

<a
  class={`flex flex-col shadow-[10px_10px_0px_rgba(0,_0,_0,_0.5)] not-content max-w-sm m-2 dark:bg-gray-800 no-underline hover:scale-95 transition-transform duration-150 ease-in-out transform hover:shadow-[0px_0px_0px_0px] hover:translate-y-1 hover:translate-x-1 max-h-64 mx-auto ${bgcolor}`}
  href={link}
>
  <div class=`head p-2 text-white ${headcolor}`>
    <h3 class="card_title dark:text-gray-300">
      {title}
    </h3>
    <p class="card_description dark:text-gray-300">
      {description}
    </p>
  </div>
  <div
    class=`flex-1 line-clamp-4 m-4 card_content text-black dark:text-gray-300`
  >
    <slot />
  </div>
  <div class=`card_footer text-black flex justify-between px-3`>
    <p class="card_author dark:text-gray-300">
      {author}
    </p>
    <p class="card_date dark:text-gray-300">
      {date}
    </p>
  </div>
</a>
